//out: false

body {
    .PNLight;
    color: @text_color;
}
img {
    max-width: 100%;
}

.section {
    padding: 100px 0;
    &-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: 100px;
    }
}

.button_o {
    border: 2px solid @primary;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 12px;
    font-weight: bold;
    color: @primary;
    background-color: #fff;
    text-decoration: none;
}

.button {
    text-transform: uppercase;
    border: none;
    padding: 25px 45px;
    background-color: @primary;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    &-fitting {
        color: @primary;
        background-color: #fff;
    }
    &-add {
        color: #fff;
        background-color: lighten(@primary, 10%);
    }
    &-like {
        background-color: @primary;
        color: #fff;
        height: 30px;
        width: 30px;
        border: none;
    }
}
.bg-secondary {
    background: @bg-secondary;
}
.input {
    height: 78px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}
input[type="checkbox"]{
    display: none; 
    &:checked + label:before{
        background-color: @primary;
    } 
} 
input[type='number']::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.select {
    height: 80px;
    width: 302px;
    border: 1px solid #dddddd;
    position: relative;
    border-right-width: 0px;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 20px;
        height: 20px;
        background: url('../img/offer/caret.png') no-repeat center;
    }
    &:hover {
        cursor: pointer;
    }
    &_checked {
        line-height: 80px;
        padding-left: 30px;
        width: 270px;
    }
    &_dropdown {
        position: absolute;
        top: 81px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #dddddd;
        margin: -1px;
        list-style: none;
        padding: 0;
        display: none;
        &_open {
            display: block;
        }
    }
    &__option {
        padding: 20px;
        &:hover {
            background-color: @bg-secondary;
        }
    }
}

option {
        outline: none;
        background-color: @bg-secondary;
    }

.checkbox {
    &__label{
    display: flex;
    align-items: center;
    margin-right: 40px;
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
        }  
    }
}

@media (max-width: 1024px) {
    .select {
        width: 265px; 
        &_dropdown{
           width: 266px; 
        }
    }
}
@media (max-width: 768px) {
    .select {
        border-right-width: 1px;
        width: 571px; 
        margin-bottom: 20px;
        &_dropdown{
           width: 571px; 
        }
    }
}
@media (max-width: 576px) {
    .button{
        font-size: 10px;
        &_o {
            font-size: 10px;
        }
    }
    .section {
        padding: 60px 0;
        &-title {
            font-size: 24px;
        }
    }
}
@media (max-width: 480px) {
    .select {
        width: 362px;
        &_dropdown{
           width: 362px; 
        }
    }
}
@media (max-width: 375px) {
    .select {
        width: 262px;
        &_dropdown{
           width: 262px; 
        }
    }
}
@media (max-width: 320px) {
    .select {
        width: 232px;
        &_dropdown{
           width: 232px; 
        }
    }
}



