//out: false

body {
    .PNLight;
    color: @text_color;
}

.button_o {
    border: 2px solid @primary;
    text-transform: uppercase;
    padding: 17px 22px;
    font-size: 12px;
    font-weight: bold;
    color: @primary;
    background-color: #fff;
}

.button {
    text-transform: uppercase;
    border: none;
    padding: 25px 45px;
    background-color: @primary;
    color: #fff;
    font-weight: bold;
}
.bg-secondary {
    background: @bg-secondary;
}
.input {
    height: 78px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}
input[type="checkbox"]{
    display: none; 
    &:checked + label:before{
        background-color: @primary;
    } 
} 
.checkbox {
    &_label{
    display: flex;
    align-items: center;
    margin-right: 40px;
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            width: 30px;
            height: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
        }  
    }
}


@media (max-width: 576px) {
    .button-o {
        font-size: 10px;
    }
}