//out: false

.factory {
    padding-top: 1px;
    &-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: -55px;
        &_image {
            margin-top: 20px;
        }
        &_text {
            margin-left: 100px;
            flex-basis: 50%;
            font-size: 19px;
        }
    } 
} 
@media (max-width: 991px) {
    .factory {
        &-block {
           &_text {
            margin-left: 0px;
            flex-basis: 85%;
           }
        } 
    }  
}