//out: false

.hero {
    background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 270px;
    margin-top: 80px;

    &__title {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 40px;
    }
    &__subtitle {
        display: block;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 67px;
    }
    &__button {
        padding: 25px;
    }
}
@media screen and (max-width: 991px) {
    .hero {
        background-position: top left 30%;
        padding-top: 30px;
        padding-bottom: 119px;
        margin-top: 80px;
    }
}
@media screen and (max-width: 480px) {
    .hero {
        background-position: top left 26%;
    }
}
@media screen and (max-width: 360px) {
    .hero {
        background-position: top left 29%;
        padding-top: 25px;
        &__subtitle{
            font-size: 27px;
        }
    }
}